<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% comment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endcomment %}
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <div class='centerHeader total'></div>
      <div class="NaviAndSearchbar navi">
        <a href="{% url 'web_app:home' %}" style="margin-left: -2px;">Home</a>
        <a href="{% url 'web_app:nhahang' %}">Nhà Hàng</a>
        <a href="{% url 'web_app:sanpham' %}">Sản Phẩm</a>
        <a href="{% url 'web_app:khuyenmai' %}">Khuyến Mãi</a>
      </div>
      <img
        src="{% static '/images/logo-header.jpg' %}"
        alt="logo-header"
        class="NaviAndSearchbar logo"
      />
      <div class="NaviAndSearchbar">
        <form action="">
          <input
            type="search"
            class="input-form"
            name="search-value"
            placeholder="Nhập thông tin tìm kiếm..."
          />
          <button class="button-form" type="submit">
            <img
              src="{% static '/images/search-icon.png' %}"
              alt="search-icon "
            />
          </button>
        </form>
      </div>
    </div>

    {% comment %} Slideshow {% endcomment %}
    <div class="slideshow-container total">
      <div class="mySlides fade">
        <img
          src="{% static '/images/slideshow_image6.jpg' %}"
          style="width: 120%; height: 70%; border-radius: 20px"
        />
      </div>

      <div class="mySlides fade">
        <img
          src="{% static '/images/slideshow_image7.jpg' %}"
          style="width: 120%; height: 70%; border-radius: 20px"
        />
      </div>

      <div class="mySlides fade">
        <img
          src="{% static '/images/slideshow_image8.jpg' %}"
          style="width: 120%; height: 70%; border-radius: 20px"
        />
      </div>

      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
    <br />


    <script>
      let slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides((slideIndex += n));
      }

      function currentSlide(n) {
        showSlides((slideIndex = n));
      }

      function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
      }
    </script>
    {% comment %} main content {% endcomment %}
    <div class='content total'>
      {% block content %}
      {% endblock content %}
    </div>
    {% comment %} Footer {% endcomment %}
    <div class='footer total'>
      <img src="{% static '/images/logo-footer.jpg' %}" alt="logo-footer" class='logoFooter'>
      <div class='titleFooter'>
        <a href="{% url 'web_app:home' %}" class="linkPage">Home</a>
        <h1 class="linkPage seperation "> | </h1>
        <a href="{% url 'web_app:nhahang' %}" class="linkPage">Nhà Hàng</a>
        <h1 class="linkPage seperation"> | </h1>
        <a href="{% url 'web_app:sanpham' %}" class="linkPage">Sản Phẩm</a>
        <h1 class="linkPage seperation"> | </h1>
        <a href="{% url 'web_app:khuyenmai' %}" class="linkPage">Khuyến Mãi</a>
      </div>
      <div class='contentFooter'>
        <p>Địa chỉ:</p>
        <p>Liên hệ:</p>
        <p>Email:</p>
      </div>
    </div>

  </body>
</html>
