{% extends 'web_app/base.html' %}
{% block content %}
<div style="float: left">
  <img
    src="https://thuvienamthuc.vn/upload/images/2020/08/14/1123.jpg"
    alt=""
    height="1100px"
    width="900px"
    style="
      border-radius: 20px;
      position: absolute;
      margin-top: 1300px;
      margin-left: -1380px;
    "
  />
  <div
    style="
      position: absolute;
      margin-top: 1300px;
      margin-left: -200px;
      font-size: 60px;
      font-weight: 200;
    "
  >
    <p style="font-weight: 700; font-size: 60px">Tên: {{product.name}}</p>
    <p>Giá tham khảo: {{product.price}} VNĐ</p>
    {% if product.YN_Sale == False %}
      <p>Khuyến mãi: Không có</p>
    {% else %}
        <p>Khuyến mãi: </p>
        <a href="{% url 'web_app:khuyenmai' %}" style='color: red; position: absolute; margin-top: -130px; margin-left: 400px; text-decoration: None; '> Có</a>
    {% endif %}
    <p>Đánh giá (*):</p>
    <div
      style="
        border-radius: 50%;
        background-image: conic-gradient(#EAEC87 {{ product.appreciate }}%, #C27B7B 0);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
        width: 350px;
      "
    ></div>
    <div style='background-color: #B3D5DD;'>
      <div style='height:30px; width: 30px; background-color: #EAEC87; margin-top: 40px;float left;'></div>
      <p style='font-size: 30px; margin-top: -30px; margin-left: 50px;'>Khách hàng đánh giá tốt</p>
      <div style='height:30px; width: 30px; background-color: #C27B7B; margin-top: 40px;float left;'></div>
      <p style='font-size: 30px; margin-top: -30px; margin-left: 50px;'>Khách hàng đánh giá không tốt</p>
    </div>
    <table style='margin-top:-510px; margin-left: 600px;border: 1px solid;'>
      <tr>
        <th style='font-size: 50px;border: 1px solid;padding: 30px;'>Đánh giá tốt</th>
        <th style='font-size: 50px; padding: 30px;border: 1px solid;'>Đánh giá không tốt</th>
      </tr>
      <tr>
        <td style='text-align: center;border: 1px solid;'>{{product.appreciate}}%</td>
        <td style='text-align: center;border: 1px solid;' id='unsatisfied-percentage'>
        </td>
      </tr>
      <script>
        var unsatisfied_percentage = 100.0 - {{product.appreciate}};
        var result = unsatisfied_percentage.toString();
        result += "%";
        document.getElementById("unsatisfied-percentage").innerHTML = result;
      </script>
    </table>
  </div>
  <div style='position: absolute; margin-top: 2420px;margin-left: -1380px;'>
    <p style='font-size: 60px; margin-right: 200px; margin-top: 100px;'>Mô tả: {{product.describe}}</p>
  </div>
</div>

{% endblock content %}
