{% extends "web_app/base.html" %}
{% load static %}
{% block content %}
<p style="font-size: 70px; margin-top: 1300px; text-align: center">
  Thông Tin Nhà Hàng
</p>
<div>
  <p style='font-size: 50px; margin-left: 250px; margin-right: 250px; margin-top: 100px;'>Với tâm niệm sự hài lòng của từng thực khách là nền tảng cho sự tồn tại và phát triển của Nhà hàng Lõi Trái Đất, 96 
    Trần Phú, Mộ Lao, Hà Đông, Hà Nội. Thực khách không những được thưởng thức những món đặc sản được chế biến bởi những đầu bếp hàng đầu Việt Nam, nhà hàng còn đem đến sự sang trọng, chất lượng phục vụ 5*, sự hoàn mỹ trong từng chi tiết nhỏ góp phần đến sự thành công trong từng bữa tiệc. Tọa lạc tại 96 Trần Phú, Mộ Lao, Hà Đông, nằm vị trí trung tâm Hà Đông, ngay trên trục đường tấp nập Nguyễn Trãi. Vị trí vàng để giao lưu gặp gỡ, và thiết yến tiếp đãi của các thực khách.</p>
    <img src="{% static '/images/nhahang1.png' %}" alt="nhahang1" style='margin-left: auto; margin-right: auto; display: block; width:50%; margin-top: 100px;'>
    <p style='font-size: 50px; margin-left: 250px; margin-right: 250px; margin-top: 100px;'>Nhà hàng Lõi Trái Đất đem đến không gian riêng tư, kín đáo và đặc biệt thoải mái cho thực khách; Không gian được chia thành nhiều không gian phòng VIP tiếp khách, phòng riêng sức chứa đa dạng, phục vụ các nhóm từ 2 – 60 người có thể làm hài lòng mọi nhu cầu của thực khách.</p>
    <img src="{% static '/images/nhahang2.png' %}" alt="nhahang1" style='margin-left: auto; margin-right: auto; display: block; width:50%; margin-top: 100px;'>
    <p style='font-size: 50px; margin-left: 250px; margin-right: 250px; margin-top: 100px;'>Đến với Lõi Trái Đất, thực khách sẽ được tự do lựa chọn mọi món ăn đặc sản từ lâu đời của người Hà Nội, với nguồn nguyên liệu phong phú và chất lượng đều đã qua kiểm duyệt.</p>
    <p style='font-size: 50px; margin-left: 250px; margin-right: 250px;'>Nhận cả đặt hàng online và tổ chức tiệc trực tiếp, chúng tôi tự tin rằng có thể làm hài lòng mọi nhu cầu tổ chức từ những bữa tiệc lớn cho đến những bữa ăn gia đình ấm cúng của các thực khách.</p>
    <video width='2000px' height='1200px' src="{% static '/videos/video.mp4' %}" controls muted style='margin-left: auto; margin-right: auto; display: block; margin-top: 100px;'></video>
    <p style='font-size: 50px; margin-left: 250px; margin-right: 250px; margin-top: 150px;'>Đừng chần chừ nữa, để xem thêm thực đơn, chi phí, nhận tư vấn đặt bàn miễn phí đồng thời nhận về ưu đãi đặc biệt khi dùng bữa tại Nhà hàng Lõi Trái Đất, 96 Trần Phú, Mộ Lao, Hà Đông hãy nhấc máy lên gọi đến hotline của chúng tôi bạn nhé. Chắc chắn Nhà Hàng Lõi Trái Đất sẽ không làm bạn thất vọng.</p>
</div>
{% endblock content %}
